/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.card {
  background-color: #E6E6E6;
  border-radius: 5px;
  border: 1px solid #8C8C8B;
  padding: 20px;
  margin-top: 10px;
}
